.level-one-leader-board-card-main-container{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
    color: #234373;
    font-size: 18px;
    width: 90%;
    border-radius: 8px;
    margin: 10px;
    padding: 5px
}

.level-one-leader-board-card-user-score{
    background-color: rgba(31, 60, 103, .1);
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}
.level-one-leader-board-card-user-score p{
    color: #000000;
    opacity: .4;
}